{% extends 'header.html.twig' %}

{% block title %}Le Petit Mazilloux
{% endblock %}

{% block body %}

	<h1 class="page-header-xl col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0 col-xs-10 offset-xs-1" style="margin-top:8%;">Contact</h1>

	<section class="article">

		<div class="homepage-image-container col-xl-10 offset-xl-1">
			<img src="../Media/Images/sunset-1.jpeg" class="img-fluid housefront" alt="Le Petit Mazilloux">
		</div>

			<div class="contact-info col-12" style="margin-top:4%;">

					<ul style="list-style:none; text-align:center;" class="col-6 offset-3">
						<li><a href="https://www.google.com/maps/place/Le+Mazilloux,+43150+Pr%C3%A9sailles/@44.9069032,4.0445663,17z/data=!4m5!3m4!1s0x12b4b514faa5e459:0xf47a5a8e57bad31c!8m2!3d44.906736!4d4.046991" style="color:black;text-decoration:none;" title="Google Maps" target="_blank"><img src="https://img.icons8.com/metro/26/000000/marker.png"/></li> <strong>Le Petit Mazilloux <br/> Présailles 43150</strong></a>
						<li style="padding-top:2%;"><img src="https://img.icons8.com/material-rounded/24/000000/important-mail.png"/></li> <strong>gillettvanessa@gmail.com</strong>
						<li style="padding-top:2%;"><img src="https://img.icons8.com/material/24/000000/android--v1.png"/></li> <strong>06-77-97-18-75</strong>
						<li style="padding-top:2%;"> <a href="https://www.booking.com/hotel/fr/la-chambre-d-39-hote-du-petit-mazilloux.en-gb.html?aid=397594;label=gog235jc-1FCAEoggI46AdIM1gDaE2IAQGYAQm4ARfIAQzYAQHoAQH4AQyIAgGoAgO4Ao3eoPkFwAIB0gIkNzFlZmExNjctOTY0Zi00ZGRmLWE0ZTgtNTFkMTI0YTY0Yjc12AIG4AIB;sid=af36632c1cb5fd89f2fb4199f57b32d2;dest_id=-1460024;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1596469013;srpvid=7c4e6dcabe4b00c3;type=total;ucfs=1&#hotelTmpl" style="color:black; text-decoration:none;" title="lien vers www.Booking.com" target="_blank"><img src="https://img.icons8.com/ios-glyphs/30/000000/domain.png"/></li><strong>Booking.com</a></strong>

					</ul>

				</div>



		{# <div class="col-xl-10 offset-xl-1">

			<div class="all-buttons-container col-12">

				<div class="btn-reserve-container col-6" style="text-align:center; padding-bottom:2%;">
					<a href="https://www.booking.com/hotel/fr/la-chambre-d-39-hote-du-petit-mazilloux.en-gb.html?aid=397594;label=gog235jc-1FCAEoggI46AdIM1gDaE2IAQGYAQm4ARfIAQzYAQHoAQH4AQyIAgGoAgO4Ao3eoPkFwAIB0gIkNzFlZmExNjctOTY0Zi00ZGRmLWE0ZTgtNTFkMTI0YTY0Yjc12AIG4AIB;sid=af36632c1cb5fd89f2fb4199f57b32d2;dest_id=-1460024;dest_type=city;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1596469013;srpvid=7c4e6dcabe4b00c3;type=total;ucfs=1&#hotelTmpl" class="btn btn-secondary" target="_blank">Réservez une chambre</a>
				</div>

				<div class="btn-reserve-container col-6" style="text-align:center; padding-bottom:2%;">
					<a href="https://www.booking.com/hotel/fr/un-charmant-f2-pour-les-voyageurs-et-les-pelerins.en-gb.html?aid=964694&app_hotel_id=6285464&checkin=2020-09-29&checkout=2020-09-30&from_sn=android&group_adults=2&group_children=0&label=Share-VK2yqZA%401596015689&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA" class="btn btn-secondary" target="_blank">Réservez l'appartement</a>
				</div>
			</div> #}

		



		</div>

	</section>

{% endblock %}