{% extends 'header.html.twig' %}

{% block title %}Le Petit Mazilloux
{% endblock %}

{% block body %}

    <div class="btn-previous-container sticky" style="padding-bottom:2%;margin-top:2%;">
        <a href="{{ path('mazilloux_stagetextile') }}" class="btn btn-secondary"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M58.28516,39.7526c-1.67351,-0.16018 -3.36825,0.42749 -4.60235,1.65729l-40.53646,40.53646c-2.24173,2.24173 -2.24173,5.86556 0,8.10729l40.53646,40.53646c1.09507,1.09507 2.56298,1.67968 4.05364,1.67968c0.7396,0 1.48386,-0.13312 2.19479,-0.42552c2.14427,-0.88293 3.53854,-2.98035 3.53854,-5.29661v-23.34766h86c6.33534,0 11.46667,-5.13133 11.46667,-11.46667v-11.46667c0,-6.33533 -5.13133,-11.46667 -11.46667,-11.46667h-86v-23.33646c0,-2.31627 -1.39427,-4.41368 -3.53854,-5.29661c-0.53607,-0.2236 -1.08826,-0.36093 -1.64609,-0.41432z"></path></g></g></svg></a>
    </div>

	<h1 class="page-header-xl col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0 col-xs-10 offset-xs-1" style="margin-bottom:0;">Feutrage</h1>

	<section class="article">

		<article class="histoire-container-xl-textile col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-10 offset-1" style="margin-top:5%;">

	<div class="slideshow-container col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-10 offset-1" style="margin-top:5%;">
				<div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="../Media/Images/Stages/Textile/feutrage-1.jpg" class="d-block w-100" style="border-radius:30px;" alt="feutrage">
						</div>
						<div class="carousel-item">
							<img src="../Media/Images/Stages/Textile/feutrage-2.jpg" class="d-block w-100" style="border-radius:30px;" alt="feutrage">
						</div>
						<div class="carousel-item">
							<img src="../Media/Images/Stages/Textile/feutrage-3.jpg" class="d-block w-100" style="border-radius:30px;" alt="feutrage">
						</div>
					</div>
				</div>


				<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>

			<hr class="col-xl-10 offset-xl-1 col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-10 offset-1" style="background-color:white">

			<div class="histoire-content-xl">
				<h4 class="histoire-title-textile">Histoire</h4>
				<p class="histoire-details">
				</p>

			</div>

			<div class="histoire-technique-xl" style="margin-top:5%; margin-bottom:5%;">
				<h4 class="histoire-title-textile">La technique</h4>
				<p class="histoire-details">
					N'hésitez pas de nous contacter si vous avez plus des questions sur nos méthodes.
				</p>

			</div>

			<hr class="col-8 offset-2" style="background-color:white">

			<div class="raku-content-container col-xl-10 offset-xl-1">

				<h4 class="histoire-title-textile">Les stages</h4>

				<ul>
					<li class="stage-list">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewbox="0 0 172 172" style=" fill:#000000;">
							<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
								<path d="M0,172v-172h172v172z" fill="none"></path>
								<g fill="#ffffff">
									<path d="M86,34.4c-18.24347,0 -25.8,11.70173 -25.8,25.8c0,4.7472 2.27317,9.51823 2.27317,9.51823c-0.9116,0.52747 -2.42762,2.20384 -2.04922,5.16224c0.7052,5.51547 3.09968,6.90642 4.62474,7.02109c0.57907,5.14853 6.11917,11.74097 8.0513,12.69844v7.69297c-4.3,12.9 -38.7,10.94036 -38.7,41.04036h103.2c0,-30.1 -34.4,-28.14036 -38.7,-41.04036v-7.69297c1.93787,-0.95747 7.47224,-7.54991 8.0513,-12.69844c1.52507,-0.11467 3.91954,-1.50562 4.62474,-7.02109c0.37839,-2.96413 -1.13762,-4.63478 -2.04922,-5.16224c0,0 2.27317,-4.30663 2.27317,-9.51823c0,-10.4404 -4.09933,-19.35 -12.9,-19.35c0,0 -3.05587,-6.45 -12.9,-6.45zM129,45.85547c-2.93547,0 -5.43323,0.53096 -7.72656,1.28776c1.2556,3.89293 1.99323,8.23504 1.99323,13.05677c0,3.05013 -0.47846,5.84647 -1.0862,8.18567c0.83133,2.4596 1.11692,5.16439 0.76146,7.93933c-0.8084,6.3124 -3.25922,10.60272 -6.33802,13.30312c-0.8944,2.16721 -2.1191,4.22045 -3.43776,6.18126c1.62827,3.34253 4.01172,6.31831 5.08386,6.92031v0.06719c11.6788,5.47533 30.81667,14.67912 30.81667,40.53646h22.93333c0,-28.42587 -28.66667,-24.34427 -32.25,-36.52761v-4.08724c1.61107,-0.90587 6.22595,-7.1311 6.70755,-11.99297c1.26707,-0.10893 3.26728,-1.41757 3.85208,-6.62917c0.31533,-2.79787 -0.94528,-4.3723 -1.70208,-4.8711c0,0 1.89245,-4.07846 1.89245,-8.99192c0,-9.86133 -3.41707,-18.275 -10.75,-18.275c0,0 -2.5456,-6.10286 -10.75,-6.10286zM43,45.86667c-8.2044,0 -10.75,6.09167 -10.75,6.09167c-7.33293,0 -10.75,8.42486 -10.75,18.2862c0,4.9192 1.89245,8.98073 1.89245,8.98073c-0.76253,0.49307 -2.01742,2.07323 -1.70208,4.8711c0.5848,5.2116 2.58502,6.53143 3.85208,6.64036c0.4816,4.86187 5.09649,11.0871 6.70755,11.99297v4.07604c-3.58333,12.1776 -32.25,8.10174 -32.25,36.52761h22.93333c0,-25.85733 19.13787,-35.05539 30.81667,-40.53646v-0.07839c1.07213,-0.602 3.45559,-3.56085 5.08386,-6.90911c-1.31867,-1.9608 -2.54336,-4.02525 -3.43776,-6.19245c-3.0788,-2.69467 -5.53535,-6.98526 -6.33802,-13.29192c-0.3612,-2.80933 -0.06468,-5.55757 0.78385,-8.04011c-0.6192,-2.3564 -1.10859,-5.15516 -1.10859,-8.08489c0,-4.74147 0.67125,-9.10023 1.89245,-13.07917c-2.26467,-0.7396 -4.73045,-1.25417 -7.62578,-1.25417z"></path>
								</g>
							</g>
						</svg>6 personnes
					</li>
					<li class="stage-list" style="padding-top:2%;">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewbox="0 0 172 172" style=" fill:#000000;">
							<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
								<path d="M0,172v-172h172v172z" fill="none"></path>
								<g fill="#ffffff">
									<path d="M126.13333,22.93333c-3.1648,0 -5.73333,2.56853 -5.73333,5.73333v120.4h34.4v-120.4c0,-3.1648 -2.56853,-5.73333 -5.73333,-5.73333zM22.93333,45.86667c-3.1648,0 -5.73333,2.56853 -5.73333,5.73333v97.46667h34.4v-97.46667c0,-3.1648 -2.56853,-5.73333 -5.73333,-5.73333zM74.53333,68.8c-3.1648,0 -5.73333,2.56853 -5.73333,5.73333v74.53333h34.4v-74.53333c0,-3.1648 -2.56853,-5.73333 -5.73333,-5.73333z"></path>
								</g>
							</g>
						</svg>
						Tous les niveaux</li>
					<li class="stage-list">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewbox="0 0 172 172" style=" fill:#000000;">
							<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
								<path d="M0,172v-172h172v172z" fill="none"></path>
								<g fill="#ffffff">
									<path d="M45.77708,17.12161c-0.27775,0.00602 -0.55469,0.03222 -0.82865,0.07839h-10.54844c-2.06765,-0.02924 -3.99087,1.05709 -5.03322,2.843c-1.04236,1.78592 -1.04236,3.99474 0,5.78066c1.04236,1.78592 2.96558,2.87225 5.03322,2.843h5.73333v11.46667c0,26.4413 17.84317,40.43938 25.59844,45.86667c-7.75527,5.42728 -25.59844,19.42536 -25.59844,45.86667v11.46667h-5.73333c-2.06765,-0.02924 -3.99087,1.05709 -5.03322,2.843c-1.04236,1.78592 -1.04236,3.99474 0,5.78066c1.04236,1.78592 2.96558,2.87225 5.03322,2.843h10.50365c0.61915,0.10233 1.2509,0.10233 1.87005,0h78.39661c0.61915,0.10233 1.2509,0.10233 1.87005,0h10.55964c2.06765,0.02924 3.99087,-1.05709 5.03322,-2.843c1.04236,-1.78592 1.04236,-3.99474 0,-5.78066c-1.04236,-1.78592 -2.96558,-2.87225 -5.03322,-2.843h-5.73333v-11.46667c0,-26.4413 -17.84317,-40.43938 -25.59844,-45.86667c7.75527,-5.42728 25.59844,-19.42536 25.59844,-45.86667v-11.46667h5.73333c2.06765,0.02924 3.99087,-1.05709 5.03322,-2.843c1.04236,-1.78592 1.04236,-3.99474 0,-5.78066c-1.04236,-1.78592 -2.96558,-2.87225 -5.03322,-2.843h-10.58203c-0.32192,-0.05381 -0.64784,-0.08003 -0.97422,-0.07839c-0.27775,0.00602 -0.55469,0.03222 -0.82864,0.07839h-78.4638c-0.32192,-0.05381 -0.64784,-0.08003 -0.97422,-0.07839zM52.1151,45.86667h67.76979c-3.4851,21.54904 -25.36328,35.21745 -25.36328,35.21745c-1.72623,1.03646 -2.78234,2.9024 -2.78234,4.91589c0,2.01349 1.0561,3.87943 2.78234,4.91589c0,0 21.87818,13.66841 25.36328,35.21745h-11.76901c-2.55762,-9.87403 -11.44259,-17.2 -22.11589,-17.2c-10.67329,0 -19.55827,7.32597 -22.11589,17.2h-11.76901c3.4851,-21.54904 25.36328,-35.21745 25.36328,-35.21745c1.72623,-1.03646 2.78234,-2.9024 2.78234,-4.91589c0,-2.01349 -1.0561,-3.87943 -2.78234,-4.91589c0,0 -21.87818,-13.66841 -25.36328,-35.21745z"></path>
								</g>
							</g>
						</svg>
						Durée 2 jours</li>
					<li class="stage-list" style="padding-top:2%;">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewbox="0 0 172 172" style=" fill:#000000;">
							<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
								<path d="M0,172v-172h172v172z" fill="none"></path>
								<g fill="#ffffff">
									<path d="M86,17.2c-9.4993,0 -17.2,7.7007 -17.2,17.2c0,9.4993 7.7007,17.2 17.2,17.2c9.4993,0 17.2,-7.7007 17.2,-17.2c0,-9.4993 -7.7007,-17.2 -17.2,-17.2zM81.07292,63.06667c-9.57515,0 -18.53756,4.79462 -23.85156,12.76562l-16.125,24.1875c-1.17502,1.70409 -1.34038,3.90921 -0.43263,5.76948c0.90775,1.86027 2.74766,3.08688 4.81397,3.20932c2.06631,0.12243 4.0382,-0.87832 5.15928,-2.61837l0.23516,-0.34714l12.60886,-15.86745c1.58813,-2.00093 4.80901,-0.72034 4.59114,1.82526l-0.63828,7.40183l-4.3336,43.36953c-0.34068,3.06245 1.79993,5.84659 4.84709,6.30426c3.04716,0.45768 5.91121,-1.57478 6.48521,-4.60218l7.54739,-26.93099c1.14093,-4.06493 6.89917,-4.06493 8.04011,0l7.525,26.80781c0.23328,2.07097 1.57188,3.8523 3.4962,4.65253c1.92431,0.80023 4.1313,0.49334 5.76429,-0.80154c1.63298,-1.29488 2.4348,-3.37384 2.09421,-5.42989l-4.25521,-42.57448l-0.70547,-8.19687c-0.21787,-2.5456 2.99181,-3.82619 4.57995,-1.82526l12.60886,15.86745l0.23516,0.34714c1.12107,1.74008 3.09297,2.74085 5.15929,2.61842c2.06632,-0.12243 3.90625,-1.34905 4.814,-3.20934c0.90775,-1.86029 0.74238,-4.06542 -0.43267,-5.76951l-16.125,-24.1875c-5.30895,-7.97417 -14.27211,-12.76562 -23.85156,-12.76562z"></path>
								</g>
							</g>
						</svg>
						Dès 9 ans</li>
					<li class="stage-list" style="padding-top:2%;">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewbox="0 0 172 172" style=" fill:#000000;">
							<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
								<path d="M0,172v-172h172v172z" fill="none"></path>
								<g fill="#ffffff">
									<path d="M28.66667,22.93333c-6.33533,0 -11.46667,5.13133 -11.46667,11.46667v40.13333h11.46667v-11.46667c0,-3.1648 2.56853,-5.73333 5.73333,-5.73333h40.13333c3.1648,0 5.73333,2.56853 5.73333,5.73333v11.46667h11.46667v-11.46667c0,-3.1648 2.56853,-5.73333 5.73333,-5.73333h40.13333c3.1648,0 5.73333,2.56853 5.73333,5.73333v11.46667h11.46667v-40.13333c0,-6.33533 -5.13133,-11.46667 -11.46667,-11.46667zM11.37708,80.18828c-3.16203,0.04943 -5.68705,2.6496 -5.64375,5.81172v63.06667c-0.02924,2.06765 1.05709,3.99087 2.843,5.03322c1.78592,1.04236 3.99474,1.04236 5.78066,0c1.78592,-1.04236 2.87225,-2.96558 2.843,-5.03322v-5.73333h137.6v5.73333c-0.02924,2.06765 1.05709,3.99087 2.843,5.03322c1.78592,1.04236 3.99474,1.04236 5.78066,0c1.78592,-1.04236 2.87225,-2.96558 2.843,-5.03322v-63.06667c0.02122,-1.54972 -0.58581,-3.04203 -1.68279,-4.1369c-1.09698,-1.09487 -2.59045,-1.69903 -4.14013,-1.67482c-3.16203,0.04943 -5.68705,2.6496 -5.64375,5.81172h-137.6c0.02122,-1.54972 -0.58581,-3.04203 -1.68279,-4.1369c-1.09698,-1.09487 -2.59045,-1.69903 -4.14013,-1.67482z"></path>
								</g>
							</g>
						</svg>
						Hébergement sur place</li>
				</ul>
			</div>

			<!-- Button trigger modal -->
			<button type="button" class="btn btn-secondary col-4 offset-4" style="margin-bottom:2%;" data-toggle="modal" data-target="#exampleModal">
			Demander un devis
			</button>

			<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel" style="color:#707070; text-align:center;">La section "Demander un devis" est en cours de construction.</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="color:#707070;">
					Contactez nous par e-mail ou par téléphone, nous vous ferons un devis personnalisé.
					<br/>
					<ul style="list-style:none;">
						<li><img src="https://img.icons8.com/material-rounded/24/000000/important-mail.png"/> <strong>gillettvanessa@gmail.com</strong></li>
						<li><img src="https://img.icons8.com/material/24/000000/android--v1.png"/> <strong>06-77-97-18-75</strong></li>
					</ul>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
				</div>
				</div>
			</div>
			</div>
			
		</article>

	</section>


{% endblock %}
