{% extends 'header.html.twig' %}

{% block title %}Le Petit Mazilloux{% endblock %}

{% block body %}

	<h1 class="page-header col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1">La Région</h1>

    <section class="article-region">

        <article class="region-info-container col-xl-5 offset-xl-0 col-lg-5 offset-lg-0 col-md-5 offset-md-0 col-sm-10 offset-sm-1 col-10 offset-1" style="margin-top:5%;">
        
        <h3 class="region-title"><em>Viaduc de la Recoumène</em></h3>

        <img src="../Media/Images/Region/viaducrecoumene.jpg" class="img-fluid col-xl-10 offset-xl-1" style="border-radius:10%;" />

            <div class="region-content-container col-xl-10 offset-xl-1">

                <ul class="activity-list-content">
                    <li  class="activity-list"><img src="https://img.icons8.com/material-rounded/24/000000/bed.png"/> 2 lits doubles</li>
                    <li class="activity-list"><img src="https://img.icons8.com/material-rounded/24/000000/landscape.png"/> Vue sur le Mont Mezenc</li>
                    <li class="activity-list"><img src="https://img.icons8.com/material-rounded/24/000000/occupied-bed.png"/><sup style="color:black;">+1</sup> Lit supplémentaire pour 10 €</li>
                    <li class="activity-list"><img src="https://img.icons8.com/material/24/000000/euro-pound-exchange--v1.png"/> 70 € par nuit</li>
                    <li class="activity-list"><img src="https://img.icons8.com/android/24/000000/wifi.png"/> Wifi gratuit</li>
                    <li class="activity-list"><img src="https://img.icons8.com/material-rounded/24/000000/cafe.png"/> Petit déjeuner inclus</li>
                </ul>
            </div>

        </article>

         <article class="region-info-container col-xl-5 offset-xl-2 col-lg-5 offset-lg-2 col-md-5 offset-md-2 col-sm-10 offset-sm-1 col-10 offset-1" style="margin-top:5%;">

        <h3 class="room-title"><em>Les Monts de Velay</em></h3>

        <img src="../Media/Images/Region/mezenc1.jpg" class="img-fluid col-xl-10 offset-xl-1"  style="border-radius:10%;" />

               <div class="room-content-container col-xl-10 offset-xl-1">

                <ul class="room-list-content">
                    <li  class="activity-list"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M95.92308,0.82692c-8.65685,0 -15.71154,7.05469 -15.71154,15.71154c0,8.65685 7.05469,15.71154 15.71154,15.71154c8.65685,0 15.71154,-7.05469 15.71154,-15.71154c0,-8.65685 -7.05469,-15.71154 -15.71154,-15.71154zM60.15865,34.11058c-4.85817,0.05169 -11.0601,2.63582 -14.88462,6.61538c-7.64904,7.98497 -16.48678,20.44051 -17.77885,29.76923c-1.1887,8.57933 6.30529,11.60276 13.64423,13.85096c7.33894,2.2482 12.5589,-1.16286 14.05769,-5.99519c1.4988,-4.83233 11.37019,-35.14423 11.37019,-35.14423c1.91226,-6.53786 -1.55048,-9.14783 -6.40865,-9.09615zM78.35096,38.03846c-1.86058,0.59435 -3.69531,2.79087 -4.13462,5.78846l-11.16346,40.10577c-1.73137,8.32092 -1.70553,14.44531 5.78846,21.29327c0.10337,0.12921 0.07753,0.28426 0.20673,0.41346c0.33594,0.3101 0.67188,0.51683 1.03365,0.82692l26.66827,22.53365l-3.10096,29.97596c-0.23257,7.39063 0.25842,11.70613 4.96154,12.19712c4.39303,0.46515 6.35697,-8.65685 6.82212,-10.95673c0,0 5.53005,-28.8131 6.20192,-32.87019c0.67188,-4.05709 1.13702,-8.70853 -1.86058,-11.78365l-21.5,-21.29327l8.26923,-34.11058l16.125,11.78365c2.09315,1.52464 5.27163,2.27404 7.64904,1.24038c0,0 6.35697,-3.82452 11.57692,-7.02885v102.53846c-0.25841,1.47296 0.38762,2.97176 1.65385,3.79868c1.24038,0.82692 2.89423,0.82692 4.13462,0c1.26622,-0.82692 1.91226,-2.32572 1.65385,-3.79868v-107.08654c0.15505,-0.10337 0.49099,-0.33594 0.62019,-0.41346c4.31551,-2.84254 8.70853,-6.58954 7.02885,-9.71635c-1.78305,-3.35937 -4.54808,-2.89423 -7.64904,-1.65385v-6.82212c0.05169,-1.00781 -0.33594,-2.01562 -1.03365,-2.73918c-0.69772,-0.7494 -1.67969,-1.16287 -2.6875,-1.18871c-1.00781,0.02584 -1.98978,0.4393 -2.6875,1.18871c-0.69772,0.72356 -1.08533,1.73137 -1.03365,2.73918v10.33654l-12.19712,5.58173l-20.67308,-15.09135c-0.51683,-0.36178 -1.08533,-0.59435 -1.65385,-0.82692c-0.23257,-0.20673 -0.54267,-0.33594 -0.82692,-0.41346l-16.33173,-4.54808c-0.56851,-0.15504 -1.24038,-0.20673 -1.86058,0zM60.15865,107.5l-2.6875,19.43269c0,0 -7.23558,17.21034 -12.19712,27.28846c-3.74699,7.6232 -5.6851,13.10156 -3.10096,14.47115c3.95372,2.09315 9.30288,-2.48077 14.88462,-11.16346c9.32872,-14.57452 14.10938,-21.88762 15.91827,-25.42788l2.89423,-9.30288c0,0 -13.8768,-9.09615 -15.71154,-15.29808z"></path></g></g></svg> Randonnées pedestre</li>
                    <li class="activity-list"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M149.64,6.88c-8.54625,0 -15.48,6.93375 -15.48,15.48c0,8.54625 6.93375,15.48 15.48,15.48c8.54625,0 15.48,-6.93375 15.48,-15.48c0,-8.54625 -6.93375,-15.48 -15.48,-15.48zM41.89813,17.25375c-1.31688,-0.24187 -2.71438,0.30906 -3.49375,1.505c-1.04813,1.58563 -0.59125,3.72219 0.99437,4.75688l35.81094,23.44844l-0.55094,0.37625v0.02687c-5.56312,3.29219 -9.29875,9.33906 -9.29875,16.27281c0,5.99313 2.80844,11.34125 7.17563,14.82156l-0.01344,0.08062l25.92094,18.30188l-16.67594,19.09469c-1.62594,1.55875 -2.64719,3.74906 -2.64719,6.18125c0,1.30344 0.3225,2.53969 0.84656,3.655l-64.54031,-35.905c-0.49719,-0.28219 -1.06156,-0.44344 -1.63937,-0.44344c-1.58563,-0.04031 -2.98313,1.02125 -3.38625,2.55312c-0.40313,1.53188 0.29562,3.14438 1.69312,3.91031l119.68781,66.58281c0.09406,0.05375 0.17469,0.09406 0.26875,0.13437c0,0 4.55531,2.05594 10.38719,2.45906c5.83188,0.38969 13.57188,-1.08844 18.705,-8.0625c0.76594,-0.99437 0.94063,-2.32469 0.45688,-3.48031c-0.49719,-1.14219 -1.57219,-1.94844 -2.82188,-2.06937c-1.24969,-0.12094 -2.4725,0.44344 -3.17125,1.46469c-3.52062,4.78375 -8.25062,5.57656 -12.71187,5.2675c-4.43438,-0.29562 -7.94156,-1.8275 -7.98188,-1.84094l-46.225,-25.71938c2.43219,-0.26875 4.54188,-1.54531 5.92594,-3.41312l0.01344,0.01344l23.70375,-27.02281l-0.01344,-0.06719c1.29,-1.49156 2.08281,-3.41312 2.08281,-5.53625c0,-2.99656 -1.53187,-5.61687 -3.85656,-7.16219l-22.18531,-17.36125l8.41187,-5.07938l-27.56031,-18.03312l6.22156,-4.15219l27.88281,18.24812l4.20594,-2.52625v8.80156c0,3.34594 1.69313,6.47687 4.50156,8.30437l18.93344,12.45656l0.01344,-0.01344c1.14219,0.83312 2.53969,1.35719 4.07156,1.35719c3.78938,0 6.88,-3.09062 6.88,-6.88c0,-2.63375 -1.49156,-4.89125 -3.66844,-6.04687l0.01344,-0.02688l-16.985,-10.60219v-28.04406c0,-7.59219 -6.15437,-13.76 -13.76,-13.76c-3.02344,0 -5.79156,1.00781 -8.0625,2.66063l-24.02625,16.05781l-38.27,-25.03406c-0.38969,-0.26875 -0.81969,-0.43 -1.26312,-0.51063z"></path></g></g></svg> 1 clic clac</li>
                    <li class="activity-list"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"width="26" height="26"viewBox="0 0 172 172"style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M87.72,0c-8.54625,0 -15.48,6.93375 -15.48,15.48c0,8.54625 6.93375,15.48 15.48,15.48c8.54625,0 15.48,-6.93375 15.48,-15.48c0,-8.54625 -6.93375,-15.48 -15.48,-15.48zM48.4825,26.875c-14.9425,0 -28.2725,7.095 -35.7975,18.92c-3.06375,4.82406 -3.19812,10.89781 -0.215,16.34c2.19031,3.99094 5.68406,6.97406 9.46,8.385c1.80063,-4.91812 4.82406,-8.45219 6.3425,-10.2125l0.3225,-0.43c1.29,-1.51844 2.59344,-3.07719 3.9775,-4.73c3.57438,-4.27312 7.68625,-9.08375 13.115,-15.265l0.1075,-0.215c4.24625,-4.8375 8.07594,-9.08375 11.9325,-11.9325c-3.02344,-0.59125 -6.16781,-0.86 -9.245,-0.86zM67.51,30.96c-4.86437,0 -10.05125,5.9125 -16.6625,13.4375c-7.48469,8.51938 -12.37594,14.55281 -16.985,19.995c-1.77375,2.08281 -7.4175,8.10281 -6.3425,16.0175c1.075,7.91469 9.66156,11.62344 17.2,14.0825c7.67281,2.49938 23.5425,7.8475 23.5425,7.8475c0,0 14.57969,30.71813 16.555,34.5075c1.97531,3.78938 4.87781,8.90906 10.32,6.7725c5.44219,-2.13656 4.66281,-7.91469 3.01,-12.5775c-1.81406,-5.10625 -10.91125,-29.025 -13.0075,-34.0775c-2.55312,-6.18125 -3.225,-6.65156 -10.2125,-10.32c-6.89344,-3.61469 -19.135,-8.4925 -19.135,-8.4925c0,0 18.06,-19.8875 19.135,-21.07c1.81406,-1.97531 4.01781,-2.92937 6.5575,-2.2575c3.13094,0.81969 34.69563,10.17219 38.7,11.5025c5.93938,1.97531 11.70406,1.59906 13.33,-1.505c1.81406,-3.46687 1.22281,-6.9875 -5.0525,-9.7825c-5.87219,-2.60687 -38.95531,-15.3725 -44.3975,-17.845c-6.24844,-2.83531 -11.61,-6.235 -16.555,-6.235zM137.6,75.68c-18.96031,0 -34.4,15.43969 -34.4,34.4c0,18.96031 15.43969,34.4 34.4,34.4c18.96031,0 34.4,-15.43969 34.4,-34.4c0,-18.96031 -15.43969,-34.4 -34.4,-34.4zM137.6,82.56c15.23813,0 27.52,12.28188 27.52,27.52c0,15.23813 -12.28187,27.52 -27.52,27.52c-15.23812,0 -27.52,-12.28187 -27.52,-27.52c0,-15.23812 12.28188,-27.52 27.52,-27.52zM34.4,103.2c-18.96031,0 -34.4,15.43969 -34.4,34.4c0,18.96031 15.43969,34.4 34.4,34.4c18.96031,0 34.4,-15.43969 34.4,-34.4c0,-18.96031 -15.43969,-34.4 -34.4,-34.4zM34.4,110.08c15.23813,0 27.52,12.28188 27.52,27.52c0,15.23813 -12.28187,27.52 -27.52,27.52c-15.23812,0 -27.52,-12.28187 -27.52,-27.52c0,-15.23812 12.28188,-27.52 27.52,-27.52z"></path></g></g></svg> VTT</li>
                    <li class="activity-list"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"width="26" height="26"viewBox="0 0 172 172"style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M87.72,6.88c-6.53062,0 -12.04,5.50938 -12.04,12.04c0,5.4825 3.92375,10.22594 9.03,11.61c-4.12531,0.05375 -7.92812,2.87563 -9.03,7.31l-6.5575,21.285c-1.72,5.16 0.68531,10.68281 5.16,13.4375l12.3625,7.6325l-4.73,11.2875c-0.34937,0.34938 -1.11531,2.72781 -0.43,5.4825c0.68531,1.37063 1.74688,2.75469 3.1175,3.44c0.68531,0.34938 1.78719,0.7525 2.4725,0.7525c2.75469,0 5.07938,-2.08281 6.45,-4.8375l4.8375,-12.04c2.06938,-5.16 0.71219,-10.965 -3.7625,-14.405l-6.5575,-4.8375l3.44,-11.0725l10.2125,3.1175l-0.86,3.1175c-0.34937,2.06938 -0.72562,3.80281 -1.075,4.8375c6.19469,5.50938 8.2775,14.05563 4.8375,21.285l-4.8375,12.04v0.7525c-2.75469,5.50938 -7.525,8.6 -12.685,8.6c-1.72,0 -3.44,-0.38969 -5.16,-1.075c-3.09062,-1.37062 -5.50937,-4.11187 -6.88,-7.2025c-1.72,-4.81062 -0.36281,-9.27187 0.3225,-10.6425l2.365,-5.9125l-7.2025,-4.4075c-4.47469,-2.75469 -7.56531,-7.60562 -8.6,-13.115h-3.1175c-15.13062,0 -24.4025,8.98969 -24.4025,23.435c0,8.6 2.76813,12.72531 4.8375,15.48c1.03469,1.72 1.72,2.40531 1.72,3.44c0,2.75469 -3.09062,6.47688 -6.88,11.2875c-1.72,2.06938 -3.44,4.15219 -5.16,6.5575c-0.34937,0.68531 -0.7525,1.35719 -0.7525,2.0425v34.0775c0,2.06938 1.37063,3.44 3.44,3.44h9.9975c2.06938,0 3.44,-1.37062 3.44,-3.44v-27.8425c5.16,-3.09062 18.62438,-12.04 21.715,-24.08c6.53063,2.40531 19.8875,6.51719 37.0875,7.2025c-1.37062,14.79469 -4.085,33.72813 -4.085,34.0775c0,0.68531 -0.02687,1.67969 0.3225,2.365c0.68531,1.37063 3.1175,5.50938 3.1175,8.6c0,2.06938 1.37063,3.44 3.44,3.44h10.32c2.06938,0 3.44,-1.37062 3.44,-3.44c0,-4.12531 -2.08281,-8.55969 -3.1175,-10.965c1.03469,-5.16 4.8375,-23.78437 6.5575,-38.915c3.09063,-2.40531 9.9975,-8.9225 9.9975,-19.2425c0,-2.06937 0.02688,-4.47469 -0.3225,-6.88c-0.34937,-7.22937 -0.71219,-17.91219 2.0425,-22.0375c4.12531,1.03469 8.53281,0.68531 11.2875,0c3.09063,1.03469 9.00313,2.4725 9.3525,2.4725h0.9675c1.03469,0 1.78719,-0.38969 2.4725,-1.075c3.78938,-4.12531 3.78938,-10.70969 0,-14.835l-6.235,-6.88c-1.37062,-2.40531 -5.45562,-9.97062 -14.405,-12.04c0.68531,-3.09062 0.28219,-6.79937 -2.4725,-9.89c-1.37062,-1.37062 -3.35937,-1.37062 -4.73,0c-1.03469,0.68531 -1.075,1.97531 -1.075,3.01c-12.72531,3.09063 -20.25031,11.7175 -24.725,20.3175l-0.1075,0.1075l-10.965,-3.225c0.68531,-4.81062 -2.39187,-9.59437 -7.2025,-10.965c6.53063,0 12.04,-5.50937 12.04,-12.04c0,-6.53062 -5.50937,-12.04 -12.04,-12.04zM31.2825,72.24c-11.69062,0 -24.4025,11.69063 -24.4025,30.96c0,2.06938 1.37063,3.44 3.44,3.44h10.32c2.06938,0 3.44,-1.37062 3.44,-3.44c0,-0.34937 -0.02687,-5.88562 3.7625,-9.675c-0.34937,-1.37062 -0.3225,-3.01 -0.3225,-4.73c0,-6.19469 1.76031,-11.74437 4.515,-16.555zM131.365,114.165c-0.34937,0.34938 -0.60469,1.04813 -1.29,1.3975c-1.72,13.07469 -4.54187,27.52 -5.9125,34.4c0.68531,1.37063 1.03469,2.795 1.72,4.515h0.3225c1.03469,0 1.78719,-0.71219 2.4725,-1.3975l8.6,-12.04c0.68531,-1.03469 0.67188,-2.08281 0.3225,-3.1175c-0.34937,-0.34937 -4.16562,-10.68281 -6.235,-23.7575zM71.165,118.3575c-3.09062,5.84531 -7.88781,10.61563 -12.3625,14.405l11.0725,29.9925c0.34938,1.37063 1.63938,2.365 3.01,2.365h9.9975c1.03469,0 2.10969,-0.71219 2.795,-1.3975c0.68531,-0.68531 0.67188,-2.08281 0.3225,-3.1175l-9.9975,-29.5625c1.03469,-2.06937 2.72781,-5.50937 3.7625,-10.32c-3.09062,-0.68531 -6.19469,-1.33031 -8.6,-2.365z"></path></g></g></svg> Balades à cheval</li>
                    <li class="activity-list"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"width="24" height="24"viewBox="0 0 172 172"style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M121.83333,21.5c-11.87412,0 -21.5,9.62588 -21.5,21.5c0,11.87412 9.62588,21.5 21.5,21.5c11.87412,0 21.5,-9.62588 21.5,-21.5c0,-11.87412 -9.62588,-21.5 -21.5,-21.5zM60.88867,68.32129c-1.75852,-0.02688 -3.52387,0.71958 -4.71712,2.26758l-47.47917,61.49056c-3.5475,4.58667 -0.26886,11.2539 5.52897,11.2539h144.64909c5.16717,0 7.96597,-6.05964 4.61914,-9.99414l-39.13672,-45.91146c-2.32916,-2.7305 -6.53085,-2.751 -8.87435,-0.042l-33.70573,38.96875c-1.462,1.69133 -3.58692,2.65268 -5.82292,2.64551c-6.55033,-0.0215 -10.06625,-7.71514 -5.79492,-12.68164l15.42513,-17.94467l-20.03027,-27.64485c-1.14667,-1.58383 -2.90261,-2.38068 -4.66113,-2.40755z"></path></g></g></svg> Le Mezenc</li>
                    <li class="activity-list"><img src="https://img.icons8.com/material-rounded/24/000000/cafe.png"/> Petit déjeuner inclus</li>
                </ul>
            </div>

                <div class="btn-reserve-container" style="text-align:center; padding-bottom:2%;">
                    <a href="{{ path('mazilloux_chambreporcelaine') }}" class="btn btn-secondary">Description détaillée</a>
                </div>
        </article>


        <article class="region-info-container col-xl-5 offset-xl-0 col-lg-5 offset-lg-0 col-md-5 offset-md-0 col-sm-10 offset-sm-1 col-10 offset-1" style="margin-top:5%;">

        <h3 class="room-title"><em>Le Lac d'Issarlès</em></h3>

        <img src="../Media/Images/Region/Lacissarles.jpg" class="img-fluid col-xl-10 offset-xl-1"  style="border-radius:10%;" />

               <div class="room-content-container col-xl-10 offset-xl-1">

                <ul class="room-list-content">
                    <li  class="activity-list"><img src="https://img.icons8.com/material-rounded/24/000000/bed.png"/> 1 lit double</li>
                    <li class="activity-list"><img src="https://img.icons8.com/material-rounded/24/000000/occupied-bed.png"/> 1 clic clac</li>
                    <li class="activity-list"><img src="https://img.icons8.com/material-rounded/24/000000/landscape.png"/> Vue sur le Mont Bresse</li>
                    <li class="activity-list"><img src="https://img.icons8.com/material/24/000000/euro-pound-exchange--v1.png"/> 48 € par nuit</li>
                    <li class="activity-list"><img src="https://img.icons8.com/android/24/000000/wifi.png"/> Wifi gratuit</li>
                    <li class="activity-list"><img src="https://img.icons8.com/material-rounded/24/000000/cafe.png"/> Petit déjeuner inclus</li>
                </ul>
            </div>

                <div class="btn-reserve-container" style="text-align:center; padding-bottom:2%;">
                    <a href="{{ path('mazilloux_chambreporcelaine') }}" class="btn btn-secondary">Description détaillée</a>
                </div>
        </article>

        
        <article class="region-info-container col-xl-5 offset-xl-2 col-lg-5 offset-lg-2 col-md-5 offset-md-2 col-sm-10 offset-sm-1 col-10 offset-1" style="margin-top:5%;">

        <h3 class="room-title"><em>Le Puy-en-Velay</em></h3>

        <img src="../Media/Images/Region/lepuy.jpg" class="img-fluid col-xl-10 offset-xl-1"  style="border-radius:10%;" />

               <div class="room-content-container col-xl-10 offset-xl-1">

                <ul class="room-list-content">
                    <li  class="activity-list"><img src="https://img.icons8.com/material-rounded/24/000000/bed.png"/> 1 lit double</li>
                    <li class="activity-list"><img src="https://img.icons8.com/material-rounded/24/000000/occupied-bed.png"/> 1 clic clac</li>
                    <li class="activity-list"><img src="https://img.icons8.com/material-rounded/24/000000/landscape.png"/> Vue sur le Mont Bresse</li>
                    <li class="activity-list"><img src="https://img.icons8.com/material/24/000000/euro-pound-exchange--v1.png"/> 48 € par nuit</li>
                    <li class="activity-list"><img src="https://img.icons8.com/android/24/000000/wifi.png"/> Wifi gratuit</li>
                    <li class="activity-list"><img src="https://img.icons8.com/material-rounded/24/000000/cafe.png"/> Petit déjeuner inclus</li>
                </ul>
            </div>

                <div class="btn-reserve-container" style="text-align:center; padding-bottom:2%;">
                    <a href="{{ path('mazilloux_chambreporcelaine') }}" class="btn btn-secondary">Description détaillée</a>
                </div>
        </article>


        <article class="region-info-container col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-10 offset-1" style="margin-top:5%;">

        <h3 class="room-title"><em>Goudet</em></h3>

        <img src="../Media/Images/Region/goudet.jpg" class="img-fluid col-xl-10 offset-xl-1"  style="border-radius:10%;" />

               <div class="room-content-container col-xl-10 offset-xl-1">

                <ul class="room-list-content">
                    <li  class="room-list"><img src="https://img.icons8.com/material-rounded/24/000000/bed.png"/> 1 lit double</li>
                    <li class="room-list"><img src="https://img.icons8.com/material-rounded/24/000000/occupied-bed.png"/> 1 clic clac</li>
                    <li class="room-list"><img src="https://img.icons8.com/material-rounded/24/000000/landscape.png"/> Vue sur le Mont Bresse</li>
                    <li class="room-list"><img src="https://img.icons8.com/material/24/000000/euro-pound-exchange--v1.png"/> 48 € par nuit</li>
                    <li class="room-list"><img src="https://img.icons8.com/android/24/000000/wifi.png"/> Wifi gratuit</li>
                    <li class="room-list"><img src="https://img.icons8.com/material-rounded/24/000000/cafe.png"/> Petit déjeuner inclus</li>
                </ul>
            </div>

                <div class="btn-reserve-container" style="text-align:center; padding-bottom:2%;">
                    <a href="{{ path('mazilloux_chambreporcelaine') }}" class="btn btn-secondary">Description détaillée</a>
                </div>
        </article>

    </section>

{% endblock %}
