{% extends 'header.html.twig' %}

{% block title %}Le Petit Mazilloux
{% endblock %}

{% block body %}

	<h1 class="page-header col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1" style="margin-bottom:0;">La Table d'Hôte</h1>

    <div class="room-opening-text-info">

        <p id="rooms-intro">Passionné par la cuisine maison, le respect de l'environnement et de la biodiversité ?<br/>
        <br/>
        Vous pouvez sur réservation venir partager avec les autres convives la gourmandise des plats et des produits Bio du terroir et de notre propre potager.<br/>
        <br/>
        Si vous êtes végan ou végétarien ne vous sen faites pas, sa sera avec plaisir que nous vous préparerons quelque chose rien que pour vous.<br/>
        <br/>
        Le petit déjeuner est fait maison, comprenant des confitures, pain et gâteaux, le tout Bio et est gratuit pour les voyageurs des chambres d'hôte.
        </p>
    </div>


	<section class="article-tabledhote col-12" style="padding:2%;">

    <!-- Card for Smoothie à la fraise -->

        <div class="card col-xl-3 offset-xl-0 col-lg-6 offset-lg-3 col-md-5 offset-md-0 col-sm-12 offset-sm-0 col-xs-6" id="recette-box-container" style="background:#ffabc4; border:0px; border-radius:4%;">
            
            <h5 class="card-title" style="margin-top:2%; text-align:center; color:white;">Smoothie à la fraise</h5>
            <img src="../Media/Images/Hebergement/Tabledhote/Diner/smoothiefraise.jpg" class="card-img-top img-fluid" alt="Un smoothie à la fraise" style="padding-top:0%; border-radius:5%;"/> 
        
            <div class="card-body">
                
                <p class="card-text" style="color:white;">Venez déguster nos smoothies rafraichissants avec les fraises du jardin.</p>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter1">
                Voir la recette
                </button>
            </div>

        </div>

    <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content col-12">

                    <div class="modal-header">
                        <h5 class="modal-title col-6 offset-3" id="exampleModalLongTitle">Smoothie à la fraise</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>

                    <div class="modal-body">
                        <h6>Ingrédients (pour 2 personnes)</h6>
                        <ul class="ingredient-liste">
                            <li>200 g de fraises</li>
                            <li>1 banane bien mûre</li>
                            <li>20 cl de lait frais</li>
                        </ul>

                        <h6>Réalisation</h6>
                        <ul class="realisation-liste">
                            <li><img src="https://img.icons8.com/material-outlined/22/000000/medium-connection.png"/> Difficulté : facile</li>
                            <li><img src="https://img.icons8.com/material-outlined/22/000000/hourglass.png"/> Préparation : 5 min</li>
                        </ul>

                        <h6>Préparation</h6>
                        <ol class="preparation-liste" style="list-style-type: upper-roman;">
                            <li>Rincer rapidement les fraises sous l'eau froide et les équeuter.</li>
                            <li>Eplucher la banane et la couper en rondelles.</li>
                            <li>Placer les fruits ainsi que le lait dans un blender et mixer jusqu'à obtenir une préparation lisse et homogène.</li>
                            <li>Déguster immédiatement afin de ne pas perdre les vitamines contenues dans les fruits !</li>
                        </ol>

                        Cette recette est naturellement sucrée mais vous pouvez toujours rajouter un peu de miel pour adoucir.
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>

                </div>
            </div>
        </div>

    <!-- Card for Tarte aux poires -->
        <div class="card col-xl-3 offset-xl-0 col-lg-6 offset-lg-3 col-md-5 offset-md-0 col-sm-12 offset-sm-0 col-xs-6" id="recette-box-container">
            
            <img src="../Media/Images/Hebergement/Tabledhote/Diner/tartepoires.jpg" class="card-img-top img-fluid" alt="..." style="padding-top:2%;">
        
            <div class="card-body">
                <h5 class="card-title">Tarte aux Poires</h5>
                <p class="card-text">Nos tartes aux poires sont faites avec de la farine bio blablabla</p>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter2">
                Voir la recette
                </button>
            </div>
        </div>

    <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Recette Tarte aux Poires</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
                </div>
            </div>
        </div>

    <!-- Card for Confiture de l'églantier -->

        <div class="card col-xl-3 offset-xl-0 col-lg-6 offset-lg-3 col-md-5 offset-md-0 col-sm-12 offset-sm-0 col-xs-6" id="recette-box-container">
            <img src="../Media/Images/Hebergement/Tabledhote/Recettes/confituredeglantier.jpg" class="card-img-top img-fluid" alt="Un smoothie à la fraise" style="padding-top:2%">
        
            <div class="card-body">
                <h5 class="card-title">Confiture de baies de l'églantier</h5>
                <p class="card-text">Venez déguster nos confitures maison avec les fuits du jardin.</p>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter3">
                Voir la recette
                </button>
            </div>

        </div>

    <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content col-12">

                    <div class="modal-header">
                        <h5 class="modal-title col-6 offset-3" id="exampleModalLongTitle">Confiture de baies de l'églantier</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>

                    <div class="modal-body">
                        <h6>Ingrédients</h6>
                        <ul class="ingredient-liste">
                            <li>1 tasse de baies de l'églantier (riche en vitamine C)</li>
                            <li>1 tasse d'Aubépine (riche en vitamine B5 et E)</li>
                            <li>1/2 tasse de sirop d'érable</li>
                            <li>50 cl d'eau</li>
                        </ul>

                        <h6>Réalisation</h6>
                        <ul class="realisation-liste">
                            <li><img src="https://img.icons8.com/material-outlined/22/000000/medium-connection.png"/> Difficulté : facile</li>
                            <li><img src="https://img.icons8.com/material-outlined/22/000000/hourglass.png"/> Préparation : 20 min</li>
                        </ul>

                        <h6>Outils</h6>
                        <ul class="realisation-liste">
                            <li><img src="https://img.icons8.com/material-outlined/22/000000/medium-connection.png"/> Bocaux propres et secs</li>
                            <li><img src="https://img.icons8.com/material-outlined/22/000000/hourglass.png"/> Ustensils en métel inoxydable (les baies sont acides)</li>
                        </ul>

                        <h6>Préparation</h6>
                        <ol class="preparation-liste" style="list-style-type: upper-roman;">
                            <li>Lavez les deux tasses de baies.</li>
                            <li>Coupez en deux les baies de l'églantier et videz les graines.</li>
                            <p style="text-align:center; color:red;"><strong>Portez des gants car les baies contiennent des graines irritantes.</strong><p>
                            <li>Ajoutez les deux tasses de baies dans une casserole avec 50 cl d'eau.</li>
                            <li>Faîtes bouillir le tout avec le sirop d'érable pendant 15 min.</li>
                            <li>Filtrez à travers une passoire et remplissez vos bocaux.</li>
                        </ol>
                     </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="article-tabledhote col-12" style="padding:2%;">

        <!-- Card for Mousse au chocolat -->

        <div class="card col-xl-3 offset-xl-0 col-lg-6 offset-lg-3 col-md-5 offset-md-0 col-sm-12 offset-sm-0 col-xs-6" id="recette-box-container">
            <img src="../Media/Images/Hebergement/Tabledhote/Diner/mousseauchocolat.jpg" class="card-img-top img-fluid" alt="Mousse au chocolat maison" style="padding-top:2%">
        
            <div class="card-body">
                <h5 class="card-title">Mousse au chocolat</h5>
                <p class="card-text">avec les oeufs "pleine air" de nos poules les mousses sont excellentes.</p>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter4">
                Voir la recette
                </button>
            </div>

        </div>

    <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content col-12">

                    <div class="modal-header">
                        <h5 class="modal-title col-6 offset-3" id="exampleModalLongTitle">Mousse au chocolat</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>

                    <div class="modal-body">
                        <h6>Ingrédients</h6>
                        <ul class="ingredient-liste">
                            <li>1 tablette de chocolat (lait ou noir)</li>
                            <li>3 oeufs</li>
                            <li>1 cuillère à soupe de cacao</li>
                            <li>2 cuillères à soupe de sucre</li>
                            <li>1 pincée de sel</li>
                            <li>20 cl de crème épaisse</li>
                        </ul>

                        <h6>Réalisation</h6>
                        <ul class="realisation-liste">
                            <li><img src="https://img.icons8.com/material-outlined/22/000000/medium-connection.png"/> Difficulté : facile</li>
                            <li><img src="https://img.icons8.com/material-outlined/22/000000/hourglass.png"/> Préparation : 15 min</li>
                            <li><img src="https://img.icons8.com/material-outlined/22/000000/hourglass.png"/> Repos : + 4 heures</li>
                        </ul>

                        <h6>Préparation</h6>
                        <ol class="preparation-liste" style="list-style-type: upper-roman;">
                            <li>Séparez les jaunes des blancs d'oeuf.</li>
                            <li>Mettez les jaunes d'oeuf avec le sucre au bain marie.</li>
                            <li>Battez les jaunes pendant 10 min, la pâte deviendra épaisse.</li>
                            <p style="text-align:center; color:red;"><strong>Attention de ne pas trop faire chauffer les oeufs.</strong><p>
                            <li>Pendant que le jaunes d'oeuf et le sucre refroidissent, battez les blancs d'oeuf en neige et ajoutez-y une pincée de sel.</li>
                            <li>Faîtes chauffer la crème et le chocolat dans une casserole, continuez à remuer pour bien faire fondre le chocolat.</li>
                            <p style="text-align:center; color:red;"><strong>Attention à ne pas brûler le chocolat.</strong><p>
                            <li>Versez le mélange de chocolat/crème aux jaunes d'oeuf et mélangez jusqu'à obtenir une pâte homogène.</li>
                            <li>Incorporez les blancs d'oeuf à la pâte et réservez le tout au frigo au moins 4 heures</li>
                        </ol>
                     </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>

                </div>
            </div>
        </div>

            <div class="card col-xl-3 offset-xl-0 col-lg-6 offset-lg-3 col-md-5 offset-md-0 col-sm-12 offset-sm-0 col-xs-6" style="border:1px solid grey; box-shadow:10px 5px 15px #707070 ;">
            <img src="../Media/Images/Hebergement/Tabledhote/Diner/gratinmaison.jpg" class="card-img-top img-fluid" alt="..." style="padding-top:2%;">
            <div class="card-body">
                <h5 class="card-title">Tarte aux Poires</h5>
                <p class="card-text">Nos tartes aux poires sont faites avec de la farine bio blablabla</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

         <div class="card col-xl-3 offset-xl-0 col-lg-6 offset-lg-3 col-md-5 offset-md-0 col-sm-12 offset-sm-0 col-xs-6" style="margin-top:1%;border:1px solid grey; box-shadow:10px 5px 15px #707070 ;">
            <img src="../Media/Images/Hebergement/Tabledhote/Diner/boulettesmaison.jpg" class="card-img-top img-fluid" alt="..." style="padding-top:2%;">
            <div class="card-body">
                <h5 class="card-title">Yaourt aux fruits</h5>
                <p class="card-text">Faites vous plaisir et goûtez à nos yaourts aux fruits du jardin.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </section>

{% endblock %}