{% extends 'header.html.twig' %}

{% block title %}Le Petit Mazilloux
{% endblock %}

{% block body %}

	<h1 class="page-header col-xl-6 offset-xl-3 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-10 offset-xs-1" style="margin-bottom:0;">La Table d'Hôte</h1>

    <div class="room-opening-text-info">

        <p id="rooms-intro">Passionné par la cuisine maison, le respect de l'environnement et de la biodiversité ?<br/>
        <br/>
        Vous pouvez sur réservation venir partager avec les autres convives la gourmandise des plats et des produits Bio du terroir et de notre propre potager.<br/>
        <br/>
        Si vous êtes végan ou végétarien ne vous sen faites pas, sa sera avec plaisir que nous vous préparerons quelque chose rien que pour vous.<br/>
        <br/>
        Le petit déjeuner est fait maison, comprenant des confitures, pain et gâteaux, le tout Bio et est gratuit pour les voyageurs des chambres d'hôte.
        </p>
    </div>

    

	<section class="article-tabledhote col-12">

            <div class="card col-xl-3 offset-xl-0 col-lg-4 offset-lg-0 col-md-5 offset-md-0 col-sm-12 offset-sm-0 col-xs-6" style="margin:2%;">
            <img src="../Media/Images/Hebergement/Tabledhote/Diner/smoothiefraise.jpg" class="card-img-top img-fluid" alt="..." style="padding-top:2%;">
            <div class="card-body">
                <h5 class="card-title">Smoothie Fraise</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card col-xl-3 offset-xl-0 col-lg-4 offset-lg-0 col-md-5 offset-md-0 col-sm-12 offset-sm-0 col-xs-6" style="margin:2%;">
            <img src="../Media/Images/Hebergement/Tabledhote/Diner/tartepoires.jpg" class="card-img-top img-fluid" alt="..." style="padding-top:2%;">
            <div class="card-body">
                <h5 class="card-title">Tarte aux Poires</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card col-xl-3 offset-xl-0 col-lg-4 offset-lg-0 col-md-5 offset-md-0 col-sm-12 offset-sm-0 col-xs-6" style="margin:2%;">
            <img src="../Media/Images/Hebergement/Tabledhote/Diner/fruitbreakfast.jpg" class="card-img-top img-fluid" alt="..." style="padding-top:2%;">
            <div class="card-body">
                <h5 class="card-title">Yaourt aux fruits</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </section>




{% endblock %}